@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.sticky-cards {
  --background: #1e1e1e;
  --foreground: #edf1e8;
  font-family: "Manrope", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.sticky-cards * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sticky-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sticky-cards h1 {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: -0.35rem;
  line-height: 1.1;
}

.sticky-cards p {
  font-size: 1.125rem;
  font-weight: 500;
}

.sticky-card {
  position: relative;
  width: 100%;
  min-height: 100svh;
  background-color: var(--foreground);
  color: var(--background);
  padding: 1.5rem 1.5rem 5rem;
  display: flex;
  gap: 3rem;
  will-change: transform;
}

.sticky-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: var(--after-opacity, 0);
  transition: opacity 0.1s ease;
  pointer-events: none;
  z-index: 2;
}

.sticky-card-index {
  flex: 2;
}

.sticky-card-content {
  flex: 4;
  padding-top: 1.5rem;
}

.sticky-card-content-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sticky-card-header {
  width: 75%;
}

.sticky-card-img img {
  aspect-ratio: 5/3;
}

.sticky-card-copy {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.sticky-card-copy-title p {
  text-transform: uppercase;
  font-weight: 650;
}

@media (max-width: 1000px) {
  .sticky-cards h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .sticky-cards p {
    font-size: 1rem;
  }

  .sticky-card {
    flex-direction: column;
    gap: 0;
  }

  .sticky-card-content-wrapper {
    width: 100%;
  }

  .sticky-card-copy {
    flex-direction: column;
    gap: 0.5rem;
  }

  .sticky-card-index {
    flex: 1;
  }
}